#kepek{
    width: 150px;
    height: 150px;
    animation-name: image-changer;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: cover;
}

@keyframes image-changer {
    0%   {background-image: url("img/1.jpg")}
    20%  {background-image: url("img/2.jpg")}
    40%  {background-image: url("img/3.jpg")}
    60%  {background-image: url("img/4.jpg")}
    80%  {background-image: url("img/5.jpg")}
    100% {background-image: url("img/1.jpg")}
}

.slider-container{
    width: 100%;
}

#slider{
    width: 100%;
}

